/*
=======================================
Canvas Row 9
=======================================
*/
#Canvas90 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas91 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas92 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas93 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas94 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas95 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas96 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas97 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas98 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas99 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
