/*
=======================================
Canvas Row 5
=======================================
*/
#Canvas50 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas51 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas52 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas53 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas54 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas55 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas56 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas57 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas58 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas59 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
