/*
=======================================
Canvas Row 1
=======================================
*/
#Canvas10 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas11 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas12 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas13 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas14 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas15 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas16 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas17 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas18 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas19 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
