/*
=======================================
Canvas Row 4
=======================================
*/
#Canvas40 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas41 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas42 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas43 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas44 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas45 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas46 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas47 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas48 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas49 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
