/*
=======================================
Canvas Row 8
=======================================
*/
#Canvas80 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas81 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas82 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas83 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas84 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas85 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas86 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas87 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas88 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas89 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
