/*
=======================================
Canvas Row 2
=======================================
*/
#Canvas20 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas21 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas22 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas23 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas24 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas25 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas26 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas27 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas28 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas29 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
