/*
=======================================
Canvas Row 3
=======================================
*/
#Canvas30 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas31 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas32 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas33 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas34 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas35 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas36 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas37 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas38 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas39 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
