/*
=======================================
Canvas Row 6
=======================================
*/
#Canvas60 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas61 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas62 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas63 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas64 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas65 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas66 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas67 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas68 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas69 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
