/*
=======================================
Canvas Row 7
=======================================
*/
#Canvas70 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas71 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas72 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas73 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas74 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas75 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas76 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas77 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas78 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#Canvas79 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
